
<footer>
    <div class="socialmedia">
        <ul id="socialmediabuttons">
            <li id="fb"><a href="https://www.facebook.com/alex.pearson.568" title="facebook">f</a></li>
            <li id="in"><a href="https://www.linkedin.com/pub/alex-pearson/a4/492/a16" title="linkedin">in</a></li>
            <li id="twit"><a href="https://twitter.com/NAlexPearson" title="twitter"><img src="http://i.imgur.com/KlB8yzw.png" width="80%"></a></li>

        </ul>
    </div>
    <div class="copyright">©2014 Alex Pearson</div>
</footer>
