
<footer>
    <div class="socialmedia">
        <ul>
          <li><a href="https://github.com/nalexpear" title="github"><span class="ti ti-github"></span></a></li>
          <li><a href="https://www.facebook.com/alex.pearson.568" title="facebook"><span class="ti ti-facebook"></span></a></li>
          <li><a href="https://www.linkedin.com/pub/alex-pearson/a4/492/a16" title="linkedin"><span class="ti ti-linkedin"></span></a></li>
          <li><a href="https://twitter.com/NAlexPearson" title="twitter"><span class="ti ti-twitter"></span></a></li>
          <li class="contact-target"><a href="#" data-action="contact-form" title="email" alt="email Alex"><span class="ti ti-email"></span></a></li>
        </ul>
    </div>
    <div class="copyright">©2014 Alex Pearson</div>
</footer>
