<div class="topstuff">
  <picture>
    <source srcset="/theme/images/alexsmilin3_hi_res.jpg" media='(min-width:1280px)'>
    <img srcset="/theme/images/alexsmilin3.jpg" width="100%" height="auto" alt="Alex's Home Page"></img>
  </picture>
    <div class="splash">
        <a href=".">
            <div id="splashname">
                ALEX PEARSON
            </div>
            <div id="splashtag">
                educator / entrepreneur / web developer
            </div>
        </a>
        <div class="desktop-only">
          <ul>
            <li><a href="https://github.com/nalexpear" title="github"><span class="ti ti-github"></span></a></li>
            <li><a href="https://www.facebook.com/alex.pearson.568" title="facebook"><span class="ti ti-facebook"></span></a></li>
            <li><a href="https://www.linkedin.com/pub/alex-pearson/a4/492/a16" title="linkedin"><span class="ti ti-linkedin"></span></a></li>
            <li><a href="https://twitter.com/NAlexPearson" title="twitter"><span class="ti ti-twitter"></span></a></li>
            <li><a href="mailto:alex@alexpear.com" title="email" alt="email Alex"><span class="ti ti-email"></span></a></li>
          </ul>
        </div>
    </div>
</div>
<ul id="navbubbles">
    <li id="about">
        <div class="navreact">
            <a href="/" data-action="about-me" title="About Alex" alt="About Alex">
                <div>home</div>
            </a>
        </div>
    </li>
    <li id="blog">
        <div class="navreact">
            <a href="./" data-action="blog-link" title="Alex's Blog" alt="Alex's Blog">
                <div>blog</div>
            </a>
        </div>
    </li>
    <li id="contact">
      <div class="navreact">
        <a href="#" data-action ="contact-form" title="Contact Alex" alt="Contact Alex">contact</a>
      </div>
    </li>
</ul>
