<div class="topstuff">
  <picture>
    <source srcset="/theme/images/alexsmilin3_hi_res.jpg" media='(min-width:1280px)'>
    <img srcset="/theme/images/alexsmilin3.jpg" width="100%" height="auto" alt="Alex's Home Page"></img>
  </picture>
    <div class="splash">
        <a href="https://alexpear.com">
            <div id="splashname">
                ALEX PEARSON
            </div>
            <div id="splashtag">
                educator / entrepreneur / web developer
            </div>
        </a>
        <div class="desktop-only">
          <ul>
            <li><a href="https://github.com/nalexpear" title="github"><span class="ti ti-github"></span></a></li>
            <li><a href="https://www.facebook.com/alex.pearson.568" title="facebook"><span class="ti ti-facebook"></span></a></li>
            <li><a href="https://www.linkedin.com/pub/alex-pearson/a4/492/a16" title="linkedin"><span class="ti ti-linkedin"></span></a></li>
            <li><a href="https://twitter.com/NAlexPearson" title="twitter"><span class="ti ti-twitter"></span></a></li>
            <li class="contact-target"><a href="#" data-action="contact-form" title="email" alt="email Alex"><span class="ti ti-email"></span></a></li>
          </ul>
        </div>
    </div>
</div>
<div class="desktop-only">
  <ul class="navbubbles">
      <li id="about">
        <div class="navreact">
          <a href="//alexpear.com" alt="Back to Home Page">
            <div>home</div>
          </a>
        </div>
      </li>
      <li id="blog">
        <div class="navreact">
          <a href="//alexpear.com/blog" title="Alex's Blog" alt="Alex's Blog">
            <div>blog</div>
          </a>
        </div>
      </li>
      <li id="contact">
        <div class="navreact">
          <a href="#" data-action ="contact-form" title="Contact Alex" alt="Contact Alex">
            <div>contact</div>
          </a>
        </div>
      </li>
  </ul>
</div>
<div class="mobile-only">
  <ul class="navbubbles" id="mobile-nav">
    <li>
      <div class="navreact">
        <span class="ti ti-menu"></span>
      </div>
    </li>
    <li>
      <div class="navreact">
        <span class="ti ti-email"></span>
      </div>
    </li>
  </ul>
  <ul id="menubar" class="mobile-only">
      <li>
        <a href="//alexpear.com" title="About Alex" alt="About Alex">
            <div>home</div>
        </a>
      </li>
      <li>
        <a href="//alexpear.com/blog" title="Alex's Blog" alt="Alex's Blog">
            <div>blog</div>
        </a>
      </li>
  </ul>
</div>
<div class="hidden" id="mobile-contact-overlay">
  <div class="mobile-only contact-form">
    <form action="https://formspree.io/alex@alexpear.com" method="POST">
      <span class="ti ti-close"></span>
      <h3>Contact Alex</h3>
      <br>
      <label for="firstname">First Name:</label><br>
      <input type="text" name="firstname" placeholder="first name" required><br>
      <label for="lastname">Last Name:</label><br>
      <input type="text" name="lastname" placeholder="last name" required><br>
      <label for="sender">Your Email Address:</label><br>
      <input type="email" name="sender" placeholder="email@youraddress.com" required>
      <label for="subject">Message Subject:</label><br>
      <input type="text" name="subject" value="new message for Alex"><br>
      <label for="message">Message:</label><br>
      <textarea name="message" placeholder="Write your message here"></textarea><br>
      <div>
        <input type="submit" value="send message">
        <button type="button" name="cancel" class="cancel">cancel</button>
      </div>
    </form>
    <br>
    <div class="hidden">
      <h4>Thanks for the message!</h4>
      <p>I'll respond as soon as I can. Don't forget to also follow me on social media:</p>
      <ul>
        <li><a href="https://github.com/nalexpear" title="github"><span class="ti ti-github"></span></a></li>
        <li><a href="https://www.facebook.com/alex.pearson.568" title="facebook"><span class="ti ti-facebook"></span></a></li>
        <li><a href="https://www.linkedin.com/pub/alex-pearson/a4/492/a16" title="linkedin"><span class="ti ti-linkedin"></span></a></li>
        <li><a href="https://twitter.com/NAlexPearson" title="twitter"><span class="ti ti-twitter"></span></a></li>
      </ul>
    </div>
  </div>
</div>
