<!-- build:js /theme/js/blog.js async-->
<script type='text/javascript' async src='/bower_components/jquery/dist/jquery.min.js'></script>
<script type="text/javascript" async src='/bower_components/picturefill/dist/picturefill.min.js'></script>
<script type="text/javascript" async src="/theme/js/modernizr.js"></script>
<script type="text/javascript" async src="/theme/js/scroller.js"></script>
<script type="text/javascript" async src="/theme/js/mobile.js"></script>
<script type="text/javascript" async src="/theme/js/resume.js"></script>
<script type="text/javascript" async src="/theme/js/portfolio.js"></script>
<!-- endbuild -->
