html{
    -webkit-font-smoothing: antialised;
}

body{
    background-color: rgb(255,255,255);
}

p {
    font-family: georgia, "Times New Roman";
    font-size: 4vw;  
    color: rgb(155,155,155); 
} 

a {
    text-decoration: none;
    color: rgba(100,100,100,0.7);
}

a:hover {
    color: rgba(100,100,100,1.0); 
}

.topstuff{ 
    /*position: relative;*/
    width: 100%; 
    padding-bottom: 10%;
    text-shadow: 1px 1px 1px rgba(140,140,140,0.3);
}
  
.headshot {
    z-index: -10;
    /*margin: 0 auto;*/
}

.splash {
    width: 100%;
    position: relative;
    margin-top: -25%;
}

#splashname{
    font-family: 'Lato', "sans-serif";
    text-align: center;
    font-weight: 300;
    font-size:9vw;
    padding-bottom: 0vw;
    position: inherit;
    /*margin-top: -25%;*/
    color: rgb(255,255,255);
} 

#splashtag{
    font-family:'Lato',"Sans-Serif";
    font-size:4vw; 
    font-weight: 300;
    color: rgb(255,255,255);
    text-align: center;
    /*margin-top:-5%;*/
} 

.main{
    margin-left: auto;
    margin-right: auto;
    width:75%;  
}   

#navbubbles{
    list-style-type:none;
    height: 28vw;
    width: 100%;
    /*text-align: center; */
}
  
#navbubbles li{
    /*text-decoration: none;*/
    display:inline-block;
    vertical-align: middle; 
    width:28vw; 
    height:28vw;  
    margin: 0.1em
}
 
#about{
    text-align: center;
    font-family: 'Lato', "Sans-Serif";
    font-size: 6vw; 
    font-weight: 300;
}

#about a{
    color: rgba(255,255,255, 0.8); 
}

#about a:hover{
    color: rgba(255,255,255, 1);  
}

#aboutbutton {
    width: 28vw;
    height: 28vw;
    background-image: url(http://i.imgur.com/yf9XQIj.png);
    background-size: 110%;   
    background-position: 10%;
    opacity: 0.6;   
    border: 1px solid; 
    border-color: rgb(255,255,255); 
    border-radius: 50%;
    overflow: hidden; 
} 

#abouttext {
    /*height: 10vw;*/
    padding-top: 10%;
    padding-bottom: 20%; 
    margin-top: 30%;  
    margin-bottom: auto;
    background-color: rgba(255,30,30,0.7);
}
 
#resume {
    text-align: center;
    font-family: 'Lato', "Sans-Serif";
    font-size: 4vw;
    font-weight: 300;
}

#resumebutton {
    width: 28vw;
    height: 28vw; 
    border: 1px solid;
    border-color: rgb(155,155,155); 
    border-radius: 50%; 
}
 
/*#resumebutton a{*/
/*    vertical-align: middle;*/
/*}*/

#resumetext {
    /*height: 28vw;*/
    margin-top: 25%;
    margin-bottom: auto;  
} 

.twitter-timeline{ 
    /*width:20px;*/
    /*padding: 10%; */
    margin-left: 7%;  
    /*margin-top: 25%;*/
    margin-bottom: auto;
} 

#twitbutton { 
    overflow: hidden; 
    /*margin-left: 0.5em;*/
    width: 28vw;
    height: 28vw;
    border: 1px solid;
    border-color: rgb(155,155,155); 
    border-radius: 50%; 
} 

#twittext{
    width: 28vw;
    height: 14vw;
    background-color: rgb(220,220,220);
} 

#twitheader {
    height: 9vw; 
    margin-top: -5%;
}

#twitheader img{
    width: 20%; 
    margin-left: 40%;
    margin-top: 1vw;
    border-radius: 20%;
    float: left; 
}

#twitheader p{
    margin-left: 25%;
    font-family: 'Lato', 'Sans-Serif';
    font-size: 2vw;
    width: 50%; 
}

#twittext p{
    margin-top: 0vw;
    text-align: center; 
    font-family: 'Lato', 'Sans-Serif';
    font-size: 2vw;
    font-weight: 300; 
    color: rgba(0,0,0,0.7);
    width: 90%;
}

.socialmedia{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width:35%;
}

.socialmedia li{
    display: inline;
}

footer ul { list-style: none; margin: 0 auto; overflow: hidden; padding: 0; width: 204px; }
footer ul li { float: left; font-family: lato, "sans-serif" !important; font-size: 2.2em; font-weight: bold; height: 48px; margin: 0 30px 12px 0; width: 48px; }
footer ul li:last-child { margin-right: 0; }
footer ul li a { background: #cccccc; color: #fff; display: block; height: 48px; line-height: 48px; overflow: hidden; text-decoration: none; -webkit-transition: all .3s ease; width: 48px; behavior: url("/responsive/stylesheets/PIE.htc"); }
footer ul li a:hover, footer ul li a:focus, footer ul li a:active { background: #333; color: #fff; }

#socialmediabuttons {
    list-style-type:none;
    text-align: center;
    /*direction:ltr;*/
}
 
#in{
    font-weight: bolder;
}

.copyright {
    text-align: center;
    font-family: helvetica, "Sans-Serif"; 
    font-size: 14px;
}
