html{
    -webkit-font-smoothing: antialised;
    margin:0;
}

body{
    background-color: rgb(255,255,255);
    margin:0; 
}

p {
    font-family: georgia, "Times New Roman";
    font-size: 4vw;  
    color: rgb(155,155,155); 
} 

a { 
    text-decoration: none;
    color: rgba(100,100,100,0.7);
}

a:hover {  
    color: rgba(100,100,100,1.0);
} 

.topstuff{
    width: 100%; 
}

.splash {
    width: 50%; 
    position: absolute;
    margin-top: -30%;
}

#content-wrapper{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%; 
    border: 0.3vw dashed #dadada;
    border-radius: 15px;
}
/*#content-wrapper:before {*/
/*  content:"";*/
/*  position:absolute;*/
 /* bottom:-20px; /* value = - border-top-width - border-bottom-width */
  /*left:40px; /* controls horizontal position */
/*  border-width:20px 20px 0;*/
/*  border-style:dashed;*/
/*  border-color:#5a8f00 transparent;*/
  /* reduce the damage in FF3.0 */
/*  display:block;*/
/*  width:0;*/
/*}*/

/*#content-wrapper:after {*/
/*  content:"";*/
/*  position:absolute;*/
/*  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  /*left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) 
/*  border-width:13px 13px 0;*/
/*  border-style:dashed;*/
/*  border-color:#fff transparent;*/
  /* reduce the damage in FF3.0 */
/*  display:block;*/
/*  width:0;*/
/*}*/

#content{
    padding-left:1.5vw;
    padding-right:1.5vw;
}

#content p{
    font-size:3vw;
    font-family:'Lato', 'Helvetica', 'sans-serif';
    font-weight:300;
}

#content ul{
    font-family: 'Lato', 'Helvetica', 'sans-serif';
    font-size: 0.8em;
    opacity: 0.3;
}

#content a{
    border-bottom:0.2vw dotted;
}

#content a:hover{
    border-bottom:0.2vw solid;
}

.signature{
    width:40%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:-2%;
}

.signature img{
    margin-left:27%;
    width:40%;
    height:14vw;
    margin-bottom:0;
    opacity: 0.1;
    border: 0.3vw solid #59556a;
    border-radius:50%;
}

.signature h1{ 
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 7vw;
    font-weight:300;
    margin-left:29%;
    margin-top:-23%;
    padding-top:0;
    color:#59556a;
}

#splashname{
    position:relative;
    font-family: 'Lato', "sans-serif";
    text-align: center;
    font-weight: 300;
    font-size:9vw;
    line-height:90%;
    padding-bottom: 0vw; 
    color: rgb(255,255,255);
} 

#splashtag{
    position:relative;
    font-family:'Lato',"Sans-Serif";
    font-size:4vw; 
    font-weight: 100; 
    color: rgb(255,255,255);
    text-align: center;
} 

#navbubbles{
    list-style-type:none;
    display:table;
    table-layout:fixed; 
    width: 100%;
    padding-bottom: 2vw;
    padding-left: 0px; 
}
  
#navbubbles li{
    display: table-cell;
    text-align: center;
    font-family: 'Lato', "Sans-Serif";
    font-size: 4vw; 
    font-weight: 300;
    color:#ffffff;;
} 

.navreact a{
    
   color:#A8A8A8;
  -o-transition:.5s color; 
  -ms-transition:.5s color;
  -moz-transition:.5s color;
  -webkit-transition:.5s color;
   transition: .5s color; 
}

.navreact a:hover{
    color: #51504f;  
}
 



.socialmedia{ 
    margin-top: 10%;
}

footer ul { list-style: none; margin: 0 auto; overflow: hidden; padding: 0; width: 50%; min-width:200px; max-width:350px;
    margin-left: auto;   
    margin-right: auto;
    display: table; 
    table-layout:fixed; 
}  
footer ul li {display: table-cell; font-family: lato, "sans-serif"; font-size: 2.2em; font-weight: bold;}
footer ul li:last-child {margin-right: 0; } 
footer ul li a { background: #DADADA; display:block; color: #fff; overflow: hidden; text-decoration: none; -webkit-transition: all .3s ease; width: 48px; height: 48px;margin-left:auto;margin-right:auto;}
footer ul li a:hover, footer ul li a:focus, footer ul li a:active { background: #51504f; color: #fff; }

#socialmediabuttons {
    text-align: center;
    /*direction:ltr;*/
} 
 
#in{
    font-weight: bolder;
}

.copyright {
    margin-top:5%; 
    margin-bottom:10%;
    text-align: center;
    font-family: helvetica, "Sans-Serif"; 
    font-size: 14px;
    opacity: 0.4;
}
