html{
    -webkit-font-smoothing: antialised;
}

body{
    background-color: rgb(255,255,255);
}

p {
    font-family: georgia, "Times New Roman";
    font-size: 4vw;  
    color: rgb(155,155,155); 
} 

a { 
    text-decoration: none;
    color: rgba(100,100,100,0.7);
}

a:hover {  
    color: rgba(100,100,100,1.0);
}

.topstuff{
    width: 100%; 
}

.splash {
    width: 50%; 
    position: relative;
    margin-top: -32%;
}

#splashname{
    font-family: 'Lato', "sans-serif";
    text-align: center;
    font-weight: 300;
    font-size:9vw;
    line-height:90%;
    padding-bottom: 0vw; 
    position: inherit;
    color: rgb(255,255,255);
} 

#splashtag{
    font-family:'Lato',"Sans-Serif";
    font-size:4vw; 
    font-weight: 100; 
    color: rgb(255,255,255);
    text-align: center;
} 

#navbubbles{
    list-style-type:none;
    display:table;
    table-layout:fixed; 
    width: 100%;
    padding-top: 4vw;
    padding-bottom: 1vw;
    padding-left: 0px;
}
  
#navbubbles li{
    display: table-cell;
    text-align: center;
    font-family: 'Lato', "Sans-Serif";
    font-size: 4vw; 
    font-weight: 300;
    color:#ffffff;;
} 

.navreact a{
    
   color:#A8A8A8;
  -o-transition:.5s color; 
  -ms-transition:.5s color;
  -moz-transition:.5s color;
  -webkit-transition:.5s color;
   transition: .5s color; 
}

.navreact a:hover{
    color: #51504f;  
}
 



.socialmedia{ 
    margin-top: 10%;
}

footer ul { list-style: none; margin: 0 auto; overflow: hidden; padding: 0; width: 100%; 
    margin-left: auto;   
    margin-right: auto;
    display: table; 
    table-layout:fixed; 
}
footer ul li {display: table-cell; font-family: lato, "sans-serif"; font-size: 2.2em; background: #DADADA; font-weight: bold;width: 48px; height: 48px;}
footer ul li:last-child { margin-right: 0; }
footer ul li a {  color: #fff; overflow: hidden; text-decoration: none; -webkit-transition: all .3s ease; }
footer ul li a:hover, footer ul li a:focus, footer ul li a:active { background: #51504f; color: #fff; }

#socialmediabuttons {
    list-style-type:none;
    text-align: center;
    /*direction:ltr;*/
}
 
#in{
    font-weight: bolder;
}

.copyright {
    text-align: center;
    font-family: helvetica, "Sans-Serif"; 
    font-size: 14px;
}
