<!DOCTYPE html>
<html lang="en-us">

<head>
  {% include head.html %}
</head>

<body>
    <div style="background-color: #EEEEEE;">
    {% include nav.html %}
    </div>
    <div id="content-wrapper">
        <div id="content">
            <ul id="resume-links">
                <li><a href="http://alexpear.com/blog/">back to preview page</a></li>
                <li><a href="http://alexpear.com/blog/feed.xml">feed</a></li>
            </ul>
            {{ content }}
        </div>
    </div>

    {% include foot.html %}
    <script type="text/javascript" src="/theme/js/site.js"></script>
</body>
