<!DOCTYPE html>
<html lang="en-us">

<head>
  {% include head.html %}
</head>

<body>
    <div>
    {% include postnav.html %}
    </div>
    <div id="content-wrapper">
        <div id="content">
            <ul id="resume-links">
                <li><a href="https://alexpear.com/blog/">back to preview page</a></li>
                <li><a href="https://alexpear.com/blog/archive">archive</a></li>
                <li><a href="https://alexpear.com/blog/feed.xml">feed</a></li>
            </ul>
            {{ content }}

            {% include extra.html %}
        </div>
    </div>
    {% include disqus.html %}

    {% include foot.html %}
    <script type="text/javascript" src="/theme/js/site.js"></script>
</body>
</html>
